* {
  margin: -1px;
  padding: 0;
  box-sizing: border-box;
}
main {
  font-family: "Lobster", cursive;
}

.landing {
  min-height: 100vh;
  min-width:100vw;
  background: url("./hero1.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
nav {
  display: flex;

  align-items: center;
  justify-content: space-between;
  min-height: 100px;
  z-index: 33;
 
}
.nav-links {
  display: flex;
  list-style: none;
}
.nav-links li {
 text-align: center;
 padding:0 30px;
 
  font-size: 1.7rem;
  color:#fff;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
}
form input:nth-child(4){
  background-color: #ffd700;
  color:black;
}
/* .nav-links li a{
  text-decoration: none;
} */
form span {
  color:#fff;
  font-size:18px;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
  margin-left:10px;
  border-bottom: 1px solid #fff;
}
.nav-links li:hover{
  
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  border-top: 1px solid rgba(255, 255, 255, 1);
  color:#ffd700;
  transform: scale(1.3);
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
 }
#logo {
  font-family: "Lobster", cursive;
  font-weight: lighter;
  font-size: 2rem;
  color:#fff;
}

.big-text {
  position: absolute;
  color: #ffd700;
  top: 30%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -30%);
  font-size: 5rem;
   font-family: "Lobster", cursive;
  text-shadow: 0px 0px 10px  rgba(0, 0, 0, 1);
  
}

.intro {
  background-image: url("./R.jfif");
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider {
  background: #ffd700;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.intro-text {
  color: rgb(255, 255, 255);
  font-family: "Lobster", cursive;
  font-size: 3rem;
  text-shadow: 1px 1px 24px rgba(0, 0, 0, 1);
}

.hide {
  background:transparent;
  overflow: hidden;
  padding:30px;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}
.edificio2{
  background-image: url("./tret.png");
  background-size: cover;
  height:100%;
  width:45%;
}


/* sliding */
.content   form input{
width:600px;
height:60px;
border-radius: 40px;
border: none;
margin: 20px 0;
padding:10px 15px;
box-shadow: 
6px 6px 8px 0 rgba(0, 0, 0, 0.45),
-4px -4px 6px 0 rgba(255, 255, 255, 0.5);
outline: none;
font-size: 20px;

}
.content   form input:hover{

  
box-shadow: 
6px 6px 20px 0 rgba(255, 255, 255, 0.45) inset,
-4px -4px 6px 0 rgba(0, 0, 0, .5) inset;
  }
  

.content   form {
  width:600px;
display: flex;
flex-wrap: wrap;

  
  }


.content{
  position:relative;
  height:100%;
  width:100%;
  padding:50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: rgb(255,255,255);
  background: linear-gradient(83deg, rgba(255,255,255,1) 0%, rgba(62,218,255,0) 41%); */

 /* background-color: rgb(255, 187, 187); */
}
.chi-siamo p{
color:rgb(230, 230, 230);
position: relative;
left:250px;
text-align: center;
z-index: 4;
padding: 10px 50px;
font-size: 35px;
text-shadow: 1px 1px 24px rgba(0, 0, 0, 1);
}
.chi-siamo h2{
  color:rgb(230, 230, 230);
text-align: center;
position: relative;
left:250px;
  z-index: 4;
 
  font-size: 55px;
  text-shadow: 1px 1px 24px rgba(0, 0, 0, 1);
  }
/* .illustration{
  position:relative;
  right:100px;
} */
.container{
  position: fixed;
  width: 100%;
  top:0;
  left:0;
  bottom:0;
  
  display: flex;
}
/* #canvas1{
  position: absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  
} */
.container section:nth-child(2){
 min-width: 100%;
 height: auto;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 background: rgb(255,255,255);
background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(78,183,255,1) 24%, rgba(37,85,118,0.9946478835674895) 100%);

}
.container section:nth-child(3){
  min-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(255,255,255);
background: linear-gradient(225deg, rgba(255,255,255,1) 0%, rgba(78,183,255,1) 24%, rgba(37,85,118,0.9946478835674895) 100%);
 }

 .container section:nth-child(4){
  min-width: 100%;
  height: auto;
  /* border:10px solid #ffd700;
  border-radius: 5px; */
  position: relative;
  top:50%;
  left:50%;
  transform: translate(-50% ,-50%);
  height: 100vh;
  background: rgb(255,255,255);
  background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(78,183,255,1) 24%, rgba(37,85,118,0.9946478835674895) 100%);
  }

 .illustration svg{
   /* position:relative;
   left:88px;
   bottom:20px; */
   height:100%;
   width:100%;
   margin:auto;
 }
 .landing img{
   position:absolute;
top:32%;
animation-name: example;
animation-duration: 6s;
animation-delay: 3s;
left:50%;
transition: 0.7s;
opacity:0.5;
transform: translate(-50% , -50%);
 }


@keyframes example {
 0%{
   opacity:1;
 }

50%{
  opacity:0.75;


}

100%{
  opacity:0.5;

}
}
  .fas{

  font-size: 50px;
  color:#fff;
}

span .fa-arrow-left{
  z-index: 66;
  position:absolute;
  bottom:50px;
  left:50px;
  transition: 0.6s;
  animation: arrowre 1s linear 2s infinite alternate;
}
span .fa-arrow-right{
  z-index: 66;
  position:absolute;
  bottom:50px;
  right:50px;
  /* transition: 0.6s;
  animation: arrowre 1s linear 2s infinite alternate; */
  
}
@keyframes arrowre {
  0%{
   transform: scale(1);
  }
 
 
 100%{
  transform: scale(1.4);
 color:#ffd700;
 }
 }



 /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffd700;
  border-radius: 10px;
  border:1px solid black;
}




/* chi siamo */

.chi-siamo{
  display:flex;

}

.dues,

.quattros{
width:100%;
position: relative;
height:100%;
top:10px;
}
.unos,

.tres{
width:100%;
bottom:10px;
position: relative;
height:100%;

}
.square{
  margin:20px 10px;
  height:150px;
  width:150px;
  z-index: 24;
background-color:#fff;
display: flex;
justify-content: center;
align-items: center;
border-radius: 10px;
border:5px solid grey;
}
.square:hover{
  box-shadow:  0 0 5px #fff;
  transition:0.3s;
  border:5px solid black;
  animation: shake 0.2s linear infinite ;
}
.square i:hover{
  color:black;
  font-size: 75px;
}
.square i{
  color:grey;
  font-size: 75px;
}
.tres .square:nth-child(2){
  background-color: #ffd700;
  border:5px solid #fff;
 
}
.tres .square:nth-child(2) i{
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
  color:#fff;
}

@keyframes shake {
  0%{
   transform: rotate(-5deg);
   border-radius:50px;
  }
  35%{
    border-radius:50px;
    transform: rotate(0deg);
   }
   70%{
    border-radius:50px;
    transform: rotate(5deg);
   }
 100%{
  border-radius:50px;
  transform: rotate(0deg);
 }
 }
#idprova{
  text-align: center;
   width:660px;
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color:#fff;
  position:absolute;
  top:15%;
}

#idprova1{
  position:absolute;
  bottom:15%;
  text-align: center;
  width:660px;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  
  color:#fff;
}